{% extends "base.html" %} 

{% block content %}    
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h4 id="LoginText">Account User Login</h4>
                <form action="" method="POST" >
                    {{ form.hidden_tag() }}
                    
                    <div class="d-grid">
                        {{ form.username.label }}
                        {{ form.username(size=32 )}}
                        {% for error in form.username.errors %} 
                            <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                                                         
                        {{ form.password.label }}
                        {{ form.password(size=32) }}
                        {% for error in form.password.errors %} 
                            <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <p>
                        {{ form.remember_me() }}&nbsp; <small>{{ form.remember_me.label }}</small>
                    </p>
                        
                    <p>
                        <div class="d-grid">
                            <button class="btn btn-outline-primary btn-lm" type="submit">Log In</button>{# form.submit() #}      
                        </div>
                    </p>
                    <p>
                        <div class="d-grid">
                        <small> 
                            New User? &nbsp;<a href="#">Click to Register!</a><br>
                            Forgot Your Password? &nbsp;<a href="#">Click to reset it</a>
                        </small>
                        </div>
                    </p>
                </form>
            </div>
        <div class="col col-lg-8">
            <img src="{{ url_for('static', filename='images/inventory1.jpg') }}" class="img-fluid rounded" alt="Rhodeco Background">
        </div>
        </div>
    </div>  
{% endblock %} 