<!-- <div class="container"> -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #123468;">
<!-- <nav class="navbar navbar-expand-lg" style="background-color: #084169;"> -->
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <!-- <img src="{{ url_for('static', filename='images/rhodecoLogo.jpg')}}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
        RHODECO RUBBER PROCESSING SERVICES, INC.
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{ url_for('about_us') }}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">LogIn</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Add User</a>
          </li>
          -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Register</a></li>
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          <!--
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          -->
        </ul>

        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <!-- </div> -->